.all-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* border: 5px solid #000000; */
  align-items: center;
  align-content: center;
  /* border: 3px solid red; */
}

.sort_search_container {
  display: flex;
  justify-content: flex-end;
  margin-right: 5vw;
}
