.button {
    width: 100%;
    display: inline;
    background-color: #E0AFA0;
    
    

}

.delete-btn {
    
   
   width: 24vw ;
   margin-top: 10px;
   

}

.detail-delete {
    display: grid;
    width: 100%;
    grid-area: below;
    
}

