button {
    width: 100px;
    display: inline;
    background-color: #E0AFA0;
    

}

.delete-btn {
    display: flex;
   align-items: center;
   margin-left: 32%;
}

@media only screen and (max-width: 600px) {
    .delete-btn {
     margin-left: 10%;
    }
  }