.card-img {
  display: flex;
  width: 300px;
  height: 250px;
  margin: 10px 30px;
}

.card-container {
  display: flex;
  border: 2px solid black;
  width: 360px;
  height: 375px;
  flex-flow: column nowrap;
  margin-top: 100px;
  align-items: center;
  box-shadow: 10px 12px 6px rgb(167, 167, 167);
  /* margin-right: 5rem; */
  margin-bottom: 100px;
  /* margin-left: 5rem; */
}

.img-container {
  display: flex;
  border: 2px solid black;
  justify-content: center;
  background: #e0afa0;
  width: 340px;
  margin-top: -60px;
}

.add-cart {
  border: none;
  width: 120px;
  height: 50px;
  font-size: 19px;
}

.group {
  display: flex;
  width: 325px;
  /* border: 3px solid black; */
  height: 50px;
  align-items: center;
  justify-content: space-between;
}

h6 {
  font-size: 20px;
  font-weight: 378;
}

.card-title {
  display: flex;
  /* border: 2px solid green; */
  font-size: 18px;
  font-weight: 378;
  margin-left: 26px;
  margin-top: 20px;
}

.title-container {
  display: flex;
  width: 360px;
  height: 100px;
}

.main-card-container {
  /* border: 5px solid blue; */
  display: flex;
  flex-basis: 30%;
  justify-content: center;
  margin-left: -60px;
  margin-right: -60px;
}
