.featured-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
}

.featuredProducts-title {
  margin: 50px auto;
  font-weight: bold;
  text-decoration: underline;
}
