.all-cart-container {
    display: flex;
    justify-content: space-evenly
    /* border: 5px solid #000000; */
}

.cart-description {
    display: column;
    justify-content: center;
    align-items: center;
}

.all-cart-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-info {
    display:flex;
    flex-direction: column;
}
.delete-cart  {
    display: flex;
    justify-content: center;
    align-items: center;
}