footer  {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  background-color: #BCB8B1;
}

.footer-social {
  height: 20px;
  width: 20px;
  padding: 4px;
}

.social-links {
  margin-right: 100px;
  margin-left: 10px;
}

.footer-text  {
  color: white;
}