footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background-color: #bcb8b1;
  margin-top: 25vh;
}

.footer-social {
  height: 35px;
  width: 35px;
  padding: 4px;
}

.social-links {
  margin-right: 100px;
  margin-left: 10px;
}

.footer-text {
  color: white;
}
