.edit-products {
    display: grid;
    
    background-color: #8A817C ;
    margin: 20px 200px 0 200px;
    padding-bottom: 50px;
}
.edit-product-title {
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;


}
.title-input {
    margin: 50px 100px 0px 100px;
    
}

.price-input {
    margin: 50px 100px 0px 100px;
}

.description-input {
    margin: 50px 100px 0px 100px;
}


.img-input {
    margin: 50px 100px 0px 100px;
}

.category-input{
    margin: 50px 100px 20px 100px;
}

.multiple-btn {
    display: flex;
    

}

.edit-product-btn {
  margin-left: 40px;
    
}

.edit-product-img {
    width:  80%;
    height: auto;
    margin-top: 70px;
    margin-bottom: 100px;
}




