.backyard_title {
  /* text-align: center;
  border: 2px solid hsl(0, 0%, 0%);
  background-color: #E0AFA0;
  box-shadow: 10px 12px 6px rgb(167, 167, 167); */
  font-weight: bold;
  margin: 20px auto;
}