.featured {
  border: 2px red solid;
}

.recent {
  border: 2px blue solid;
}

.home-container {
  border: 2px green solid;
}

.banner-img {
  height: 500px;
  width: 1500px;
}

.banner {
  margin-top: 100px;
}
